/*

!/config/
!/data/
/data/*
!/data/pdf_pngs/
!/data/LongDocURL.jsonl
!/eval/
!/evaluation_results/
!/scripts/
!/utils/

!/.gitignore
!/README.md
!/requirements.txt

__pycache__/
*.pyc
*.pyo
.DS_Store
